.content {
    width: 100%;
    padding: 20px 20px;
    margin: 0 auto;
}

.card {
    margin-top: 50px;
}

.content button {
    float: left;
    margin-bottom: 10px;
}

.card-header {
    text-align: center;
}

aside {
    width: 30%;
    float: left;
    margin-left: 20px;
}

.modal-content {
    background-color: white;
}

.tieude {
    text-align: center;
    height: 100px;
    margin-top: 20px;
}

.btn-warning {
    margin-right: 10px;
}

.btn {
    color: white;
}

section {
    width: 70%;
    margin: 0 auto;
    // text-align: center;
}