.container {
    text-align: center;
    // width: 100%;
    margin-top: 50px;
}

.bg-dak {
    background-color: black;
}

.boxhinh {
    float: right;
    margin-right: 5px;
    width: 40px;
    height: 40px;
}

.boxhinh img {
    float: left;
    width: 100%;
    border-radius: 50%;
}

.username {
    float: left;
    color: white;
}

.out {
    float: left;
    width: 48px;
    margin-left: 30px;
    margin-right: 158px;
    border: none;
    background-color: black;
}

.out img {
    width: 100%;
    border-radius: 50px;
    background-color: #212529;
}

// span {
//     color: white;
//     padding: 14px 10px;
// }
.navbar-dark .navbar-brand {
    margin-left: 80px;
}